.wrapper-activation{
	width:100%;
	height:100%;
	background:url(../images/pay_back.png);
	background-repeat:no-repeat ;
    background-size:100% 100%; 
    background-attachment: fixed;
    overflow:hidden;
}
.card-img{
	height:1.59rem;
    text-align: center;
}
.card-img img{
	width:1.13rem;
	height:1.42rem;
	margin-top:0.085rem;
}
.country_title{
	font-size:0.13rem;
	color:#d7d7d9;
}
.conuntry_select{
	font-size:0.13rem;
}
.card{
	height:0.82rem;
	line-height:0;
	text-align: center;
}
.card .btn{
	display:inline-block;
	margin-top:0.2rem;
	height:0.45rem;
	border:none;
	outline:none;
	background-color:#e5e5e5;
	text-align:center;
	line-height:0.45rem;
	border-radius:0.07rem;
	font-size:0.12rem;
}
.card .scan-btn{
	width:2.43rem;
}
.card .inp-btn{
	width:1.12rem;
}
.only-code{
	line-height:0;
}
#code-title{
	margin:0;
	font-size:0.13rem;
	color:#d7d7d9;
}
#code-box input{
	font-size:0.13rem;
}