.wrapper-buy-detail{
	width:100%;
	height:100%;
	background:url(../images/active_back_02.jpg);
	background-repeat:no-repeat ;
    background-size:100% 100%; 
    background-attachment: fixed;
}
.buy-detail{
	width:3.3rem;
	padding-left:0.225rem;
	padding-right:0.225rem;
	background-color:#e2e2e5;
}
.buy-info>li{
	height:0.49rem;
}
.info-left{
	float:left;
}
.info-right{
	float:right;
}
.info-left,.info-right{
	display:inline-block;
	line-height:0.49rem;
}
button{
	display:block;
	width:3.24rem;
	height:0.45rem;
	background-color:rgb(202,29,123);
	border:none;
	outline:none;
	margin-left:0.24rem;
	border-radius:0.13rem;
	font-size:0.17rem;
	color:#fff;
}
button.btn-continue-pay{
	margin-top:0.22rem;
}
button.btn-cancel-pay{
	margin-top:0.06rem;
}
/*修改weiui弹出层样式*/
#reset-weui-diglog{
    font-size:0.14rem;
}
.reset-weui-dialog__hd{
    line-height:0.94rem;
}
#reset-weui-dialog__ft{
    line-height:0.47rem;	
}
.weui-dialog__ft:after{
   	border-color:#000;
}
#cancel,#continue{
    font-size:0.14rem;
    color:#000;
}
.weui-dialog__btn:after{
    border-color:#000;
}