
#bodysection {
	height:100%;
	display: none;
	background:url(../images/active_back_02.jpg);
	background-repeat:no-repeat ;
    background-size:100% 100%; 
    background-attachment: fixed;
    line-height:0.24rem;
    font-size:0.15rem;
}
.weui-cell:before {
	left: 0px;
}
#cilckbut {
	display:block;
	width: 90%;
	margin-top:15%;
	margin-left:5%;
	text-align:center;
	line-height:0.46rem;
	font-size:0.16rem;
	color:#fff;
	background:#ca1d7b;
	border-radius:0.05rem;
}

#act_order {
	width: 90%;
	margin-left: 5%;
	background: #00953e;
	font-size:0.16rem;
	margin-top:0.1rem
}

#picsty {
	width:100%;
	height:1.5rem;
}

#pic {
	line-height:0;
	text-align:center;
}

.weui-cells {
	margin-top: 0px;
}

.numberleft {
	width: 75%;
	float: left;
	font-size:0.16rem;
	background:#ca1d7b;
	text-align: center;
	margin-right:0.1rem;
	color:#fff;
	line-height:0.45rem;
	border-radius:0.05rem;
}

.numberright {
	width: 24%;
	float: left;
	margin-top:0;
	font-size: 0.16rem;
	background:#ca1d7b;
	text-align: center;
	color:#fff;
	line-height:0.45rem;
	border-radius:0.05rem;
}

#picturesty {
	width: 0.5rem;
	height: 0.5rem;
	margin-left: 45%;
	margin-top: 1rem;
}

/*重置weui部分样式*/
/*.weui-cell{
	padding:0.10rem 0.15rem;
}*/
.reset-weui-chose{
    color:#fff;	
}
.reset-weui-cells>.weui-cell_select{
	background:#fff;
}
#card>.weui-cell:first-child{
	color:#fff;
}
#card>.weui-cell:nth-child(2){
	background:#fff;
}
#scanf-btn-wrapper{
	padding-top:0.33rem;
}

/*修改weiui弹出层样式*/
#reset-weui-diglog{
	font-size:0.14rem;
}
.reset-weui-dialog__hd{
	line-height:0.47rem;
}
.reset-weui-dialog__hd i{
	line-height:0;
	position:absolute;
	top:28%;
	right:5%;
}
.reset-weui-dialog__bd{
	position:relative;
	line-height:0.46rem;
	padding-left:0.24rem;
    text-align:left;
    color:#a3a3a3;
}
.reset-weui-dialog__bd:before{
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #000;
    color: #000;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
}
#reset-weui-dialog__ft{
    line-height:0.47rem;	
}
.weui-dialog__ft:after{
   	border-color:#000;
}
#cancel,#continue{
    font-size:0.14rem;
    color:#000;
}
.weui-dialog__btn:after{
    border-color:#000;
}
